%section_padding {
  padding: 0 10vw;
}

.hero {
  max-width: 1440px;
  display: flex;
  flex-direction: column;

  &__image {
    object-fit: cover;
    border-radius: 30px;
  }

  &__title {
    font-family: var(--font-philosopher);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-white);
    margin: 0;

    &-orange {
      color: var(--color-orange);
    }
  }
}

.contact {
  @extend %section_padding;

  display: flex;
  align-items: center;

  height: 4vw;

  &__phone {
    font-family: var(--font-ubuntu-sans);
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-white);
    text-decoration: none;

    @media (min-width: 370px) {
      font-size: 0.6rem;
    }

    @media (min-width: 768px) {
      font-size: 0.8rem;
    }

    @media (min-width: 1024px) {
      font-size: 0.9rem;
    }
  }
}

.heading {
  @extend %section_padding;

  & .hero__title {
    font-size: 6rem;

    @media (min-width: 370px) {
      font-size: 3rem;
    }

    @media (min-width: 768px) {
      font-size: 4rem;
    }

    @media (min-width: 1024px) {
      font-size: 6rem;
    }
  }

  &__line {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2.5vw;
    line-height: 1.2;
  }

  &__image {
    display: flex;

    &-smile {
      max-width: 100%;
      width: 30vw;
      height: 6vw;
      object-position: 0 30%;
    }
    &-dental {
      width: 30vw;
      height: 7vw;
      object-position: 0 95%;
    }
  }
}

.content {
  @extend %section_padding;

  margin-top: 2vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & .hero__title {
    margin-top: 1vw;
    font-size: 6rem;

    @media (min-width: 370px) {
      font-size: 1.3rem;
    }

    @media (min-width: 768px) {
      font-size: 1.5rem;
    }

    @media (min-width: 1024px) {
      font-size: 3rem;
    }
  }

  &__block {
    max-width: 50%;
  }

  &__button {
    display: block;
    width: 326px;
    text-decoration: none;
    height: 50px;
    background-color: var(--color-orange);
    color: var(--color-white);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: var(--font-unbounded);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 50px;

    &:hover {
      background-color: var(--color-white);
      color: var(--color-black);
    }
  }

  &__image {
    width: 35vw;
    height: 20vw;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1vw;

  &__text {
    font-family: "UbuntuSans";
    font-weight: 500;
    font-size: 20px;
    color: var(--color-white);
    max-width: 80%;

    @media (min-width: 370px) {
      font-size: 13px;
    }

    @media (min-width: 768px) {
      font-size: 15px;
    }

    @media (min-width: 1024px) {
      font-size: 20px;
    }
  }

  &__link {
    background-color: var(--color-white);
    border-radius: 50%;
    height: 40px;

    &:hover {
      background-color: var(--color-orange);
    }
  }

  &__arrow {
    width: 40px;
    height: 40px;
    transform: rotate(135deg);

  }
}
