.hero {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 8%;
  gap: 2vw;

  &__image {
    object-fit: cover;
    border-radius: 30px;
  }

  &__title {
    font-family: "Philosopher";
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-white);
    margin: 0;

    &-orange {
      color: var(--color-orange);
    }
  }
}

.contact {
  display: flex;
  margin-top: 1vw;

  &__phone {
    font-family: "UbuntuSans";
    font-weight: 500;
    font-size: 18px;
    color: var(--color-white);
    text-decoration: none;
  }
}

.heading {
  & .hero__title {
    font-size: 95px;
  }

  &__line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5vw;
  }

  &__image {
    display: flex;

    &-smile {
      width: 25vw;
      height: 7vw;
      object-position: 0 30%;
    }
    &-dental {
      width: 35vw;
      height: 8vw;
      object-position: 0 95%;
    }
  }
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & .hero__title {
    font-size: 53px;
  }

  &__block {
    width: 45%;

    &-info {
      display: flex;
      flex-direction: column;
      gap: 1vw;
    }
  }

  &__text {
    font-family: "UbuntuSans";
    font-weight: 500;
    font-size: 20px;
    color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1vw;
  }

  &__button {
    display: block;
    width: 326px;
    text-decoration: none;
    height: 50px;
    background-color: var(--color-orange);
    color: var(--color-white);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Unbounded";
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 50px;

    &:hover {
      background-color: var(--color-white);
      color: var(--color-black);
    }

    &-arrow {
      background-color: white;
      color: black;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transform: rotate(135deg);

      &:hover {
        background-color: var(--color-orange);
        color: var(--color-white);
      }
    }
  }

  &__image {
    width: 35vw;
    height: 20vw;
  }
}
