<section class="hero">
    <div class="hero__heading">
        <h1 class="hero__title">Комплексний
            <picture class="hero__title-image">
                <source srcset="./static/img/smile.avif" type="image/avif">
                <source srcset="./static/img/smile.webp" type="image/webp">
                <img class="hero__title-image" src="./static/img/smile.jpg" alt="VibeBag Logo" loading="lazy" width="298" height="96">
            </picture><br>
            <picture>
                <source srcset="./static/img/dental.avif" type="image/avif">
                <source srcset="./static/img/dental.webp" type="image/webp">
                <img class="hero__title-image" src="./static/img/dental.jpg" alt="VibeBag Logo" loading="lazy" width="496" height="107">
            </picture>
            Чек-Ап</h1>
    </div>
    <div class="hero__content">
        <div class="hero__content-info">
            <h2 class="hero__title">У клініці <span class="hero__title-orange">soprano</span></h2>
            <p>Глибока діагностика, прозорий план лікування та повне розуміння стану вашого здоров’я — все в одному візиті.</p>
            <a href="#">Записатись на чек-ап</a>
        </div>
        <div class="hero__content-picture">
            <picture >
                <source srcset="./static/img/woman.avif" type="image/avif">
                <source srcset="./static/img/woman.webp" type="image/webp">
                <img src="./static/img/woman.jpg" alt="VibeBag Logo" loading="lazy" width="170" height="35">
            </picture>
        </div>
    </div>
</section>