@font-face {
    font-family: 'UbuntuSans';
    font-display: swap;
    src: url(../static/fonts/UbuntuSansMedium.woff2) format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Unbounded';
    font-display: swap;
    src: url(../static/fonts/UnboundedRegular.woff2) format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher';
    font-display: swap;
    src: url(../static/fonts/PhilosopherBold.woff2) format('woff2');
    font-style: normal;
}